<%= form_for(@task) do |f| %>
 <!--  <div class="form-group"> -->
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
<!--   </div> -->
<!--   <div class="form-group"> -->
    <%= f.label :details, "Details" %>
    <%= f.text_field :details %>
 <!--  </div>
  <div class="form-group"> -->
    <%= f.label :completed, "Completed" %>
    <%= f.text_field :completed %>
 <!--  </div> -->
  <%= f.submit%>
# <% end %>
