<h1>My Tasks</h1>
  <% @tasks.each do |task| %>
    <h3><%= link_to task.title, task_path(task.id) %></h3>
    <p><%= task.completed %></p>
<!--     <p><%= task.details %></p> -->
    <%= link_to "Delete", tasks_path(task.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
<div>
  <%= link_to "+ Add a new task",  new_task_path%>
</div>


